{erl_opts, [debug_info]}.
{deps, [{enacl, {git, "https://github.com/aeternity/enacl.git", {ref, "38ffc76"}}},
        {'erlang-uuid', {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.2"}}},
        {epbkdf2, {git, "https://github.com/aeternity/epbkdf2", {tag, "v1.0.0"}}},
        {zj, {git, "https://gitlab.com/zxq9/zj.git", {tag, "1.0.5"}}}]}.
